.navbar-main {
    float: left;
    width: 100%;
    height: auto;
    background-color: rgb(27, 48, 48);
    box-shadow: 1px 3px 5px gray;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 10px 20px;
    img {
        width: 50px;
        height: 50px;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin: 0px 10px;
            button {
                background: none;
                border: none;
                font-size: 16px;
                color: #FFFFFF;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                    font-weight: 600;
                }
            }
        }
    }
}