@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  float: left;
  width: 100%;
}

.Content-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  margin: auto 20px;
}

.section_title {
  display: flex;
  justify-content: center ;
}
