@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.main-container {
  float: left;
  width: 100vh;
}
